.nav{
    display: flex;
margin-top: 1.5rem;
    justify-content: space-around;
    border: 2px solid lightgray;
    border-left: 0px ;
    border-top: 0px ;
    border-right: 0px ;
}
.nav div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
}

.nav div:hover{
    cursor: pointer;
    color: brown;
}